<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="EatReviews - Portal Ulasan Restoran dan Kuliner" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/favicon.png" />
    <title>EatReviews - Portal Ulasan Restoran dan Kuliner</title>
  </head>
  <body>
    <a href="#list-resto" class="skip-link hidden-link" id="skip-link" tabindex="0">Skip to Content</a>
    <navigation-resto></navigation-resto>
    <hero-resto></hero-resto>
    <main id="root"></main>
    <footer-resto></footer-resto>
  </body>
</html>
