#list-resto {
  padding: 50px 0 50px 20px;
}

.title-resto h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.title-resto div {
  font-size: 1em;
  margin-bottom: 0.5em;
}
.list-content-resto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: hidden;
  gap: 1em;
  padding: 20px;
}
.cards-gallery {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  overflow: hidden;
  position: relative;
}
.cards-gallery:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.list-content-resto div {
  cursor: pointer;
}
.list-content-resto a {
  font-weight: bold;
}
.img-resto img:hover {
  opacity: 0.8;
  filter: brightness(110%);
}
.img-resto {
  width: 100%;

  position: relative;
}
.img-resto img {
  width: 100%;
  object-fit: cover;
  height: 100%;

  border-radius: 10px;
}

@media screen and (min-width: 620px) {
  .list-content-resto {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media screen and (min-width: 1000px) {
  .list-content-resto {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-resto img {
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .list-content-resto {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .img-resto {
    width: 400px;
  }
}
