@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}
a {
  color: black;
  min-width:44px;
  max-width:44px;
}
button{
   min-width:44px;
  max-width:44px;
}
.hidden-link {
  position: absolute !important;

  overflow: hidden;
}
.skip-link:focus {
  background-color: #fff;
  color: #000;
  left: 0;
  padding: 1em;
  position: absolute;
  top: 0;
  z-index: 100;
}
