.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#modals {
  display: none;
}
#review-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#name {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}
#review {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}
#submit-button {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #000000;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: bold;
  font-weight: 600;
}
#submit-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.close-btn {
  display: flex;
  justify-content: end;
}
.close {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}
#review-rating {
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}
#rating {
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}
